<table class="table">
  <thead class="">
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Title</th>
      <th scope="col">Created By</th>
      <th scope="col">Published</th>
      <th scope="col">Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% work_type.each do |work| %>
      
        <tr class="list-group-item-action">
          <th scope="row"> 1 </th>
          <td> <%= link_to work.title, work_path(work) %> </td>
          <td> <%= work.creator %> </td>
          <td> <%= work.publication_year %> </td>
          <td> Upvote </td>
        </tr>
      
    <% end %> 
  </tbody>
</table>